
$bg-color-900: #232323;
$bg-color-800: #262626;
$bg-color-700: #282a2c;
$bg-color-400: #2e2e30;

$text-color-900: #fefefe;
$text-color-800: #a0a0a0;
$text-color-700: #8e8e8e;
$text-color-400: #343336;

$red-color-900: black;
$red-color-800: black;

$red-color-700: #482b2b;
$gray-color-700: #4d4d4d;
$green-color-700: #3a462c;

$cyan-color-900: #2CBFED;
$cyan-color-800: #35CECE;
$cyan-color-700: #365252;

$highlight-color-primary: $cyan-color-900;
$highlight-color-secondary: $cyan-color-800;
$highlight-color-tertiary: $cyan-color-700;

$radial-color-primary: rgba(44, 192, 237, 0.1);