.dialog-wrapper {
    position: fixed;

    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;

    display: grid;
    place-items: center;

    .backdrop {
        cursor: pointer;

        background-color: var(--bg-color-900);
        opacity: 0.6;
        
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
    }

    .dialog {

        z-index: 2;
        background-color: var(--bg-color-700);
        border: 0.1rem solid var(--text-color-400);
        border-radius: 0.5rem;
        padding: 1.25rem;
    }
}
